#canvas, #buttonP {
    position: relative;
}

#canvas{
    z-index: 3;
}





#buttonH{
    position: absolute;
    right: 568px;
    bottom: 290px;
    width: 60px;
    height: 40px;
    z-index: 12;
    display: none;
    opacity: 1;
}

#buttonP{
    position: absolute;
    right: 168px;
    bottom: 290px;
    width: 60px;
    height: 40px;
    z-index: 13;
    opacity: 1;
    /* width: 100px;
    height: 100px; */
}

