#canvas, #buttonP {
    position: relative;
}
body{
    margin: 0;
}
canvas{
    display: block;
    z-index: 2;
    /* background: black; */
}





#buttonH{
    position: absolute;
    right: 1373px;
    bottom: 490px;
    width: 180px;
    height: 140px;
    z-index: 12;
    display: none;
    opacity: 0;
}

#buttonP{
    position: absolute;
    right: 173px;
    bottom: 490px;
    width: 180px;
    height: 140px;
    z-index: 13;
    opacity: 0;

}